<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Probably the most complete UI kit out there. Multiple functionalities and controls added,  extended color palette and beautiful typography, designed as its own extended version of Bootstrap at  the highest level of quality.                             ">
    <meta name="author" content="Webpixels">
    <title>Shijuu西啾 - 菓子屋</title>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800|Roboto:400,500,700" rel="stylesheet">
    <!-- Theme CSS -->
    <link type="text/css" href="/static/assets/css/theme.css" rel="stylesheet">
    <!-- Demo CSS - No need to use these in your project -->
    <link type="text/css" href="/static/assets/css/demo.css" rel="stylesheet">
    
  </head>
  <body>
    {% block navbar %}
        {% include "navbar.html" %}
    {% endblock %}

    <main class="main">
      {% block container %}
        <section class="py-5 bg-tertiary border-top border-bottom" id="scrollToSection">
          <div class="container">
            <div class="d-flex align-items-center justify-content-center">
            </div>
          </div>
        </section>
        <section>
          <div class="container">
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                {% for category, message in messages %}
                  <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    <span class="alert-inner--icon">
                      {% if category == 'success' %}
                        <i class="fas fa-check"></i>
                      {% elif category == 'danger' %}
                        <i class="fas fa-exclamation"></i>
                      {% elif category == 'info' %}
                        <i class="fas fa-info"></i>
                      {% endif %}
                    </span>
                    <span class="alert-inner--text">{{ message }}</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                  </div>
                {% endfor %}
              {% endif %}
            {% endwith %}
          </div>
        </section>


        {% block app_container %}
        {% endblock %}
      {% endblock %}
    </main>

    {% block footer%}
        {% include "footer.html" %}
    {% endblock %}
    <!-- Core -->
    <script src="/static/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/static/assets/vendor/popper/popper.min.js"></script>
    <script src="/static/assets/js/bootstrap/bootstrap.min.js"></script>
    <!-- FontAwesome 5 -->
    <script src="/static/assets/vendor/fontawesome/js/fontawesome-all.min.js" defer></script>
    <!-- Page plugins -->
    <script src="/static/assets/vendor/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="/static/assets/vendor/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
    <script src="/static/assets/vendor/input-mask/input-mask.min.js"></script>
    <script src="/static/assets/vendor/nouislider/js/nouislider.min.js"></script>
    <script src="/static/assets/vendor/textarea-autosize/textarea-autosize.min.js"></script>
    <!-- Theme JS -->
    <script src="/static/assets/js/theme.js"></script>
  </body>
</html>